<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
</head>
<body>
<div th:fragment="navbar" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/product'}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/artist'}">Artists</a>
                </li>
                <li sec:authorize="hasRole('GUEST')" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/wishlist'}">
                        <i class="fas fa-plus-circle" ></i> Wishlist
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/admin'}">
                        <i class="fas fa-wrench"></i> Dashboard
                    </a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/participant/form'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
                <li class="nav-item">
                    <form id="logout-form" th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn-primary">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>