<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AWBD Auction</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div>
    <div class="container mt-5">
        <div class="row">
            <!-- Product Details -->
            <div class="col-md-6">
                <h2 class="product-name" th:text="${product.name}">Product Name</h2>
                <p class="artist-name" th:text="${product.artist.name}">Artist name</p>
                <p class="price" th:text="${product.genre.getDescription()}">Genre</p>
                <p class="price" th:text="${product.price + ' lei'}">Price</p>
            </div>
            <!-- Product Image -->
            <div class="col-md-6 text-center">
                    <img th:src="@{/missing_art.png}" th:alt="${product.name}">
            </div>
        </div>
    </div>
</div>
</body>